.zone {
    background: red ;
    color: white;
    padding: 10px;
}
@media (min-width: 332px){
    .zone {background: rgb(0, 255, 34);
    color: rgb(255, 94, 0);}
}
@media(min-width: 768px){
    .zone {
        background: orange;}

}


@media (min-width: 992px){
    .zone {background: blue;
    color: aqua;}
}