
.container{
    margin: auto; 
    
}

nav {
    background: linear-gradient(to top ,rgb(28, 192, 178),rgb(155, 248, 212) );
    color: white;
 
}

nav p{
    text-align: right;
    border-style: double;
    border-color: rgb(241, 241, 231);
}

.zone1{
    background: linear-gradient(to top ,rgb(122, 86, 122),rgb(128, 156, 209) );
    color: white;
    border-radius: 30px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;

}
    


.zone2{
    background: linear-gradient(to top ,rgb(119, 226, 212),rgb(98, 141, 223) );
    color: white;
    border-radius: 30px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
  
    
}


.zone3{
    background: linear-gradient(to top ,rgb(201, 127, 42),rgb(95, 106, 126) );
    color: white;
    border-radius: 30px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}


.zone{
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}
footer{
    background: linear-gradient(to top ,rgb(28, 192, 178),rgb(155, 248, 212) );
    color: white;
    height: 50px;
}

img{
    height: 50px;
    width: 50px;
    margin-bottom: -15px;
}


.zone1 img {
    border-radius: 50%;
    margin-left: 100%;
    height: 200px;
    width: 200px;
    margin-top: 30%;
}

.zone2 img {
    border-radius: 50%;
    margin-left: 450%;
    height: 200px;
    width: 200px;
    margin-top: 30%;
}

.zone3 img {
    border-radius: 50%;
    margin-left: 100%;
    height: 200px;
    width: 200px;
    margin-top: 30%;
}

    
.zone1 .text1 {
    margin-left: 42%;
    text-align: left   
}
.zone2 .text2 {
    margin-right: 50%;
    text-align: center  
}
.zone3 .text3 {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 44%;
    text-align: right;
    margin-right: 3%;
}
    
@media screen and (max-width: 768px)
{    
     * {         margin: 0;
                 box-sizing: border-box;        
                  font-family: 'Kufam', cursive;        
                   color: white;         
                   padding: 0;        
                    flex-direction: column;    
         }


}
            
    

    

       